@import "../../common/colors.scss";

.header {
  background-color: $secondary-color;
  height:72px;
  padding: 0px 40px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  background: linear-gradient(to right, #f32c09, #f8cd0f,#ffe9e3 );
  background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size:40px;
    font-weight: 900;

}

.user-image, .user-image img{
    width: 38px;
    height: 38px;
}