@import "../src/common/colors.scss";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}

a{
    text-decoration: none;
}

body{
    background: $primary-color ;
}
.container{
    margin: 0px 40px;
    
}

.app {
    position: relative;
    min-height: 100vh;
    margin-top: 90px;
}

.container {
    padding-bottom: 72px; 
}

.footer {

    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    height: 72px;
    background: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $font-primary;
}